@charset "UTF-8";

$blue-border: #5cadff;
$white-bg: #fff;
$primary-color: #39f;
$primary-color-hover: #5cadff;
$info-color: #2db7f5;
$info-color-hover: #57c5f7;
$success-color: #0c6;
$success-color-hover: #33d685;
$warning-color: #f90;
$warning-color-hover: #ffad33;
$error-color: #f30;
$error-color-hover: #ff5c33;
$text-color: #657180;
$text-color-hover: $primary-color-hover;
$plain-border-color: #bfcbd9;
$plain-color: #1f2d3d