@charset "UTF-8";
@import "variable";

//后台登录Login模块样式
.login-form{
  position: relative;
  width: 400px;
  margin: 124px auto 0;
  padding: 24px;
  //border: 1px solid rgba(130, 199, 235, 0.6);
  //box-shadow: -2px 3px 38px 3px #82C7EB;
}
.register-form{
  position: relative;
  width: 400px;
  margin: 124px auto 0;
  padding: 24px;
}