@charset "UTF-8";
@import "variable";

//用户组件(icon + 信息)
.oy-user-icon{
  width: 100%;
  height: 60px;
  position: relative;
  overflow: hidden;
}
.oy-icon{
  position: absolute;
  //height: 60px;
}
.oy-icon__inner{
  width: 30px;
  height: 30px;
  border-radius: 18px;
  border: 1px solid crimson;
  top: 12px;
  left: 4px;
}
.oy-icon__msg{
  top: 19px;
  left: 45px;
  text-align: right;
}
.oy-user1{
  //width: 35%;
  padding: 0 12px;
  background-color: #00cc66;
  height: 60px;
  float: left;
}
.oy-use1__icon{
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
  line-height: 34px;
  border-radius: 18px;
  border: 2px solid #ffffff;
  margin: 0 auto;
  top: 10px;
}
.oy-user2{
  display: block;
  background-color: #2db7f5;
  height: 60px;
  float: left;
}
.oy-user2__icon{
  position: relative;
  display: block;
  text-align: right;
  padding-top: 17px;
  padding-right: 12px;
  width: 170px;
  color: #fff;
}
//文章列表
.oy-list{
  position: relative;
  border-top: 1px solid #ececec;
  background-color: $white-bg;
  //margin: 0 6px;
}
//文章项目
.oy-list-item{
  cursor: pointer;
  margin: 0 25px;
  padding: 20px 0;
  border-bottom: 1px solid #ececec;
}
//文章项目
.oy-article{
  position: relative;
  //min-width: 150px;
  padding-left: 4px;
  background-color: $white-bg;
  border-left: 2px solid $white-bg;
  cursor: pointer;
  //禁止复制
  user-select: none;
  transition: border-left .2s linear;
  &:hover{
    border-left: 2px solid $blue-border;
    .oy-article__title{
      color: $blue-border;
    }
  }
  &.is--select{
    border-left: 2px solid $blue-border;
    .oy-article__title{
      color: $blue-border;
    }
  }
}
.content__omit{
  //超过宽度隐藏
  overflow: hidden;
  //限制一行显示
  white-space: nowrap;
  //显示省略样式
  text-overflow: ellipsis;
}
//文章标题
.oy-article__title{
  position: relative;
  width: 100%;
  font-weight: 400;
  padding: 0;
  margin: 0 0 8px;
  transition: color .2s linear;
}
//文章内容
.oy-article__content{
  position: relative;
  width: 100%;
  max-height: 65px;
  font-size: 14px;
  font-weight: bold;
  color: #7f8c8d;
  margin: 0;
  padding: 4px 0;
  overflow: hidden;
  word-wrap: break-word;
  //颜色改变 最好和title有对比
}
.is--inline{
  display: inline-block;
  width: 48%;
}
//文章脚注
.oy-article__footer{
  position: relative;
  padding-top: 6px;
  font-size: 12px;
  color: #7f8c8d;
}
.oy-article__lastdate{

  //颜色改变，属于次级信息
}
.oy-article__author{

}
//内容
.oy-article-content{
  position: relative;
  width: 100%;
  //max-height: 980px;
  //height: 100%;
  //overflow-x: hidden;
  //overflow-y: hidden;
}

//菜单
.oy-menu{
  border-radius: 2px;
  list-style: none;
  position: relative;
  margin: 0;
}
.oy-menu-item{
  float: left;
  height: 60px;
  line-height: 60px;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0 12px;
}
.oy-menu-item--right{
  float: right;
}
ul, li{
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}


//上传组件
.el-upload{
  display: inline-block;
  text-align: center;
  cursor: pointer;

}
.el-upload__input{
  display: none;
}
//按钮组件基类样式
.oy-button{
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  background-color: #f7f7f7;
  border: 1px solid transparent;
  border-color: #d7ddc4;
  line-height: 1.5;
  border-radius: 4px;
  transform: translate3d(0,0,0);
  transition: color .2s linear, background .2s linear, border .2s linear;
  color: #657180;
  touch-action: manipulation;
  user-select: none;
  padding: 6px 15px;
  white-space: nowrap;
  &:hover{
    color: $blue-border;
    background-color: $white-bg;
    border-color: $blue-border;
  }
  //禁用状态
  &.is-disabled{
    color: #bfcbd9;
    cursor: not-allowed;
    background-image: none;
    background-color: #eef1f6;
    border-color: #d1dbe5;
    &:hover{
      color: #bfcbd9;
      cursor: not-allowed;
      background-image: none;
      background-color: #eef1f6;
      border-color: #d1dbe5;
    }
  }
  &.is-loading{
    position: relative;
    pointer-events: none;
    &:before{
      pointer-events: none;
      content: '';
      position: absolute;
      left: -1px;
      top: -1px;
      right: -1px;
      bottom: -1px;
      border-radius: inherit;
      background-color: hsla(0, 0%, 100%, .35);
    }
  }
}
//按钮主要信息颜色
.oy-button--primary{
  color: $white-bg;
  background-color: $primary-color;
  border-color: $primary-color;
  &:hover{
    color: $white-bg;
    background-color: $primary-color-hover;
    border-color: $primary-color-hover;
  }
}
.oy-button--primary.is-plain{
  background: $white-bg;
  border:  1px solid $plain-border-color;
  color: $plain-color;
  &:hover{
    background: $white-bg;
    border-color: $primary-color;
    color: $primary-color;
  }
}
//按钮次要信息颜色
.oy-button--info{
  color: $white-bg;
  background-color: $info-color;
  border-color: $info-color;
  &:hover{
    color: $white-bg;
    background-color: $info-color-hover;
    border-color: $info-color-hover;
  }
}
.oy-button--info.is-plain{
  background: $white-bg;
  border:  1px solid $plain-border-color;
  color: $plain-color;
  &:hover{
    background: $white-bg;
    border-color: $info-color;
    color: $info-color;
  }
}
//按钮成功信息颜色
.oy-button--success{
  color: $white-bg;
  background-color: $success-color;
  border-color: $success-color;
  &:hover{
    color: $white-bg;
    background-color: $success-color-hover;
    border-color: $success-color-hover;
  }
}
//按钮成功信息朴素颜色
.oy-button--success.is-plain{
  background: $white-bg;
  border:  1px solid $plain-border-color;
  color: $plain-color;
  &:hover{
    background: $white-bg;
    border-color: $success-color;
    color: $success-color;
  }
}
//按钮警告信息颜色
.oy-button--warning{
  color: $white-bg;
  background-color: $warning-color;
  border-color: $warning-color;
  &:hover{
    color: $white-bg;
    background-color: $warning-color-hover;
    border-color: $warning-color-hover;
  }
}
.oy-button--warning.is-plain{
  background: $white-bg;
  border:  1px solid $plain-border-color;
  color: $plain-color;
  &:hover{
    background: $white-bg;
    border-color: $warning-color;
    color: $warning-color;
  }
}
//按钮错误信息颜色
.oy-button--error{
  color: $white-bg;
  background-color: $error-color;
  border-color: $error-color;
  &:hover{
    color: $white-bg;
    background-color: $error-color-hover;
    border-color: $error-color-hover;
  }
}
.oy-button--error.is-plain{
  background: $white-bg;
  border:  1px solid $plain-border-color;
  color: $plain-color;
  &:hover{
    background: $white-bg;
    border-color: $error-color;
    color: $error-color;
  }
}
//按钮文本信息颜色
.oy-button--text{
  color: $text-color;
  background-color: transparent;
  border-color: transparent;
  &:hover{
    color: $text-color-hover;
    background-color: transparent;
    border-color: transparent;
  }
}
//按钮边框虚线
.oy-button--dashed{
  color: $text-color;
  background-color: transparent;
  border-color: #d7dde4;
  border-style: dashed;
}
//按钮默认样式
.oy-button--default{
  color: $text-color;
  background-color: $white-bg;
  border-color: #d7dde4;
}
//按钮尺寸 大
.oy-button--large{
  padding: 12px 22px;
  font-size: 16px;
  border-radius: 4px;
}
//按钮尺寸 小
.oy-button--small{
  padding: 6px 14px;
  font-size: 12px;
  border-radius: 4px;
}
//按钮尺寸 小小
.oy-button--mini{
  padding: 4px;
  font-size: 12px;
  border-radius: 4px;
}
//按钮长度
.oy-button--long{
  width: 100%;
}

//共有属性
.oy-button{
  outline: 0;
}
.oy-button [class*=el-icon-]+span{
  margin-left: 5px;
}
.oy-icon--right{
  margin-left: 5px;
}

//加载状态
.is-loading{

}
//
.is-plain{

}