@charset "UTF-8";
@import "layout";
@import "custom-component";

body{
  font-weight: 400;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  //text-align: center;
  color: #2c3e50;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 0;
  margin: 0;
}
//外部通用样式
.container{
  overflow: hidden;
  //overflow-y: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  //height: 100%;
}
//清除浮动样式
.clearfix{
  display: block;
  &:after{
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
  }
  &:before{
    display: table;
    content: ' ';
  }
}