@charset "UTF-8";
@import "variable";

//前端结构布局

//顶部导航栏(用户信息, 导航)
.oy-console--top{
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  border-radius: 4px;
  .nav-path{
    min-width: 980px;
    height: $nav-menu_height;
    padding-left: 55px;
    //float: left;
    //设置inline-block 会导致父元素意外增加高度,解决方法是添加vertical-align: bottom 属性,具体方法可以参考笔记
    //display: inline-block;
    //vertical-align: bottom;
  }
  .logo{
    position: absolute;
    left: 0;
    height: 60px;
    line-height: 60px;
  }
}
//菜单
.oy-console--menu{
  width: 120px;
  padding: 0 12px;
}
//侧边(左边)导航栏(功能导航)
.oy-console--left{
  position: relative;
  height: 100%;
  width: 120px;
  padding: 0 11px 0 12px;
  border-right: 1px solid #ececec;
  .nav-path{

  }
}
.oy-console--center{
  position: fixed;
  left: 144px;
  top: 60px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: $gray-bg;
}

.article{
  width: 100%;
  height: 100%;
  overflow: hidden;
}
//文章列表
.article-list{
  overflow-y: auto;
  overflow-x: hidden;
  width: $article_width;
  position: relative;
  border-right: 1px solid #ececec;
  height: 100%;
}
//文章内容
.article-content{
  position: absolute;
  top: 0;
  left: $article_width;
  width: 100%;
  height: 100%;
  //min-height: 460px;
  overflow: hidden;
  overflow-y: auto;
  word-wrap: break-word;
}
.article-pos{
  float: left;
}

//后台登录Login模块样式
.login-form{
  position: relative;
  width: 400px;
  margin: 124px auto 0;
  padding: 24px;
  //border: 1px solid rgba(130, 199, 235, 0.6);
  //box-shadow: -2px 3px 38px 3px #82C7EB;
}
//后台注册Reg模块样式
.register-form{
  position: relative;
  width: 400px;
  margin: 124px auto 0;
  padding: 24px;
}
.edit-area{
  font-size: inherit;
  border: 1px solid #bfcbd9;
  display: block;
  color: #1f2d3d;
  width: 100%;
  text-align: left;
  height: auto;
  min-height: 36px;
  line-height: 36px;
  outline: 0;
  padding: 0 10px;
  border-radius: 4px;
  -webkit-appearance: none;
  background-image: none;
  background-color: #fff;
  box-sizing: border-box;
  div{
    margin: 0;
    padding: 0;
    line-height: 1;
  }
}

::-webkit-scrollbar{
  width: 4px;
}
::-webkit-scrollbar-thumb{
  background-color: #808080;
  -webkit-border-radius: 12px;
}